<%- include("partials/header") -%>
<h1>About Me</h1>

<p><%= aboutCont %></p>
<a href="https://ayushk16.github.io/Portfolio/" target="_blank" class="nav-link"style=" color: silver;" ><button class="btn btn-dark">Find More About Me</button></a>
<%- include("partials/footer") -%>