<%- include("partials/header") -%>

<h1>Contact Me</h1>
<p><%= contCont %></p>
<a href="https://www.linkedin.com/in/ayushk16/" target="_blank" class="nav-link"style=" color: silver;" ><button class="btn btn-dark">Lets connect</button></a>

<%- include("partials/footer") -%>