*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.nav-link{
    margin:2px;
    color: grey;
}
.nav-link:hover{
    color: black;
}
a{
    text-decoration: none;
}
.navbar{
    height: 5%;
    width: 100%;
    /* background-color: #F2BED1; */
    /* background-color: #FDCEDF; */
    background-color: #F8E8EE;

}
.navbar-brand{
    position: relative;
    top:10px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maincontainer{
    min-height: 70vh;
}
.footer-padding{
    padding-bottom: 60px;
}

.footer{
    position: relative;
    top:90%;
    height: 10vh;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    background-color: #F9F5F6;
}